@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  .body {
    @apply bg-brown-200
  }

  .btn-primary {
    @apply py-1.5 px-3 bg-transparent text-gray-100 border border-pink-500 rounded-2xl shadow-md;
  }

  .user-form-container {
    @apply bg-brown-200  w-1/4 min-w-[550px] h-auto flex flex-col items-center justify-center gap-7 py-12 shadow-inner rounded-lg
  }

  .user-form-label {
    @apply text-2xl  font-medium leading-6 text-slate-900
  }

  .user-form-input {
    @apply mt-1 px-6 py-4 h-14 text-xl bg-blue-900 shadow-sm placeholder-slate-400 focus:outline-none block w-full rounded-md
  }

  .user-form-button {
    @apply mt-1 px-6 py-3 h-12 flex w-full justify-center rounded-md bg-gray-100 text-2xl leading-6 text-gray-900 shadow-sm focus-visible:outline focus-visible:outline-2
  }

  .user-form-link {
    @apply mt-1 pt-3 flex justify-center rounded-md  text-lg text-black shadow-sm hover:border-blue-400 hover:border-b
  }
}